.contact{
        padding-top: 4rem;
        padding-bottom: 2rem;
}
.contact-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    padding-right: 2rem;
} 
.contact-text {
    color: #111;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;

}
.contact-text
.contact-heading::before{
    position: absolute;
    top: 50%;
    right: -80px;
    content: '';
    width: 70px;
    height: 2px;
    background: #287ff9;
}
.contact-feedback
.contact-heading::after{
    position: absolute;
    top: 50%;
    left: -80px;
    content: '';
    width: 70px;
    height: 2px;
    background: #287ff9;
}
.contact-container{
    max-width: 1170px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}
.row-contact{
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex: 0 0 auto;
    width: 50%;
}
.contact-widget{
    margin-bottom: 40px;
    padding-right: 10px;
}
.contact-widget-item{
    overflow: hidden;
    margin-bottom: 40px;
    display: flex;
    justify-content: start;
}
.icon-info{
    height: 60px;
    width: 60px;
    background: #287ff9;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    margin-right: 30px;
    float: left;
}
.contact-i{
    font-size: 24px;
    color: #fff;
    position: relative;
    top: 3px;
}
.text{
    overflow: hidden;
}
.contact-text
.text{
    color: #111;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}
.contact-descr
.text {
    font-size: 16px;
    color: #111;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 15px 0;
}
.contact-form{
    text-align: center;
    margin-bottom: 40px;
}
.contact-form-feed{
    display: block;
    margin-top: 0em;
}
.contact-input{
    height: 46px;
    width: 100%;
    padding-left: 20px;
    font-size: 15px;
    color: #111;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    border-radius: 4px;
    transition: all, .3s;
}
.contact-textarea{
    height: 110px;
    width: 100%;
    padding-left: 20px;
    padding-top: 12px;
    font-size: 15px;
    color: #111;
    border: 1px solid #e1e1e1;
    resize: none;
    margin-bottom: 9px;
    border-radius: 4px;
    transition: all, .3px;
}
.site-btn{
        width: 70%;
    cursor: pointer;
    border: none;
    display: inline-block;
    background: rgba(255, 215, 35, .3);
    color: #111;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 12px 40px 10px;
}
.map-column{
    flex: 0 0 auto;
    width: 100%;
}
.contact-iframe{
    width: 100%;
    display: flex;
    justify-content: center;
} 

@media (max-width: 1200px) {
    .contact-container{
        max-width: 960px;
    }
}
@media (max-width: 990px) {
    .contact-container{
        max-width: 720px;
    }
}
@media (max-width: 768px) {
    .contact-container{
        max-width: 540px;
    }
    .column{
        width: 100%;
    }
}
@media(max-width: 500px){
    .contact-heading{
        padding-right: 0;
    }
    .contact-feedback{
        font-size: 22px;
    }
    .contact-feedback::before{
        right: -60px;
        width: 50px;
    }
    .contact-feedback::after{
        left: -60px;
        width: 50px;
    }
}