* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.errorpage {
    width: 250px;
    margin: 20px auto;
}

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}


.goBackBtn {
    color: #111;
    padding: 10px 15px !important;
}

.custom-btn {
    height: 45px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-2 {
    background: #FF800F;
    border: none;
}

.btn-2:before {
    height: 0%;
    width: 2px;
}
.btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
        transition: 1.3s ease-in-out;
}

.goBackBtn:hover{
    color: #fff;
}